# Base tools
flake8~=3.7
isort~=5.9
pre-commit~=2.13.0

# Flake8 plugins, see https://github.com/python-discord/code-jam-template/tree/main#plugin-list
flake8-annotations~=2.0
flake8-bandit~=2.1
flake8-docstrings~=1.5
flake8-isort~=4.0

# General Requirements
typing  # type hinting
anyio~=3.0.1
boombox~=0.56
playsound
PyObjc>=6.2.2; sys_platform == "darwin"

# Requirements for frameworks
blessed~=1.18.1
rich~=10.4.0
windows-curses~=2.2.0; sys_platform == "win32"

# Requirements for ConnectFour
numpy~=1.21

# Requirement for Tetris
more_itertools
