# Base tools
flake8~=3.7
isort~=5.9
pre-commit~=2.13.0

# Flake8 plugins, see https://github.com/python-discord/code-jam-template/tree/main#plugin-list
flake8-annotations~=2.0
flake8-bandit~=2.1
flake8-docstrings~=1.5
flake8-isort~=4.0

# General Requirements
typing  # typing hinting
anyio~=3.0.1
boombox~=0.56
playsound
# play_sounds~=0.4.1  # sound playback

# Requirements for frameworks
blessed~=1.18.1
# prompt_toolkit~=3.0.19 # nobody used it, i'll comment it for now - aph
# urwid~=2.1.2 # nobody used it, i'll comment it for now - aph
rich~=10.4.0

# Requirements for ConnectFour
numpy~=1.21
